.App {
  text-align: center;
}

/*  bellpalbildens stats här */
img {
  height: 200px;
}

/*  specs for cirle button */
.btn-circle.btn-xl {
  width: 110px;
  height: 110px;
  padding: 14px 20px;
  border-radius: 55px;
  font-size: 13px;
  /* word-break: break-word; // This didnt work either. Word still goes outside circle */
  font-weight: bold;
  text-align: center;
}

/* This didnt work :( */
#testing {
  width: 500;
}

.btn-Quick-Press {
  /* opacity: 0.2;
  filter: alpha(opacity=20); */
  background-color: #ff9a00 !important;

  /* background-color: #4caf50 imp !important; */
  border-color: #ff9a00 !important;
}

.btn-Short-Hold {
  /* opacity: 0.2;
  filter: alpha(opacity=20); */
  background-color: #ff7400 !important;

  /* background-color: #4caf50 imp !important; */
  border-color: #ff7400 !important;
}

.btn-Medium-Hold {
  /* opacity: 0.2;
  filter: alpha(opacity=20); */
  background-color: #ff4d00 !important;

  /* background-color: #4caf50 imp !important; */
  border-color: #ff4d00 !important;
}

.btn-Long-Hold {
  /* opacity: 0.2;
  filter: alpha(opacity=20); */
  background-color: #ff0000 !important;

  /* background-color: #4caf50 imp !important; */
  border-color: #ff0000 !important;
}
