.App {
  text-align: center;
}

/*  bellpalbildens stats här */
img {
  height: 200px;

  /* padding: 20px 2px;
  border-radius: 55px; */

}

.returnArrow {
  pointer-events: none;
}
.returnArrow__path {
  stroke: #96616B;
  fill: transparent;
  stroke-width: 2px;
}
.returnArrow__head{
  /* stroke: rgb(86, 24, 231); */
  fill:#96616B;
};

.arrow {
  pointer-events: none;
}

.arrow__path {
  stroke: #F76F8E;
  fill: transparent;
  stroke-width: 3px;
}

.arrow__head{
  /* stroke: rgb(86, 24, 231); */
  fill:#F76F8E;
};

/* .arrow__head line {

  stroke-width: 4px;

} */

#navbarRight {
  display: flex;
  justify-content: space-around;
  /* textColor below */
  color:#FFEAD0;   
  background-color: #113537 !important;
  
}

#navbarLeft {
  display: flex;
  justify-content: space-around;
  /* textColor below */
  color:#FFEAD0;   
  background-color: #37505C !important;
  /* below is border enabling. remember to add styling to border in general code */
  /* border-color: #FFEAD0 !important;
  border-width:thick !important;  */

}

#container {
  display: flex;
  margin: 0 auto;
  width: 1300px;
  height: 100%;
  justify-content: center;
  
  
}

#leftSide {
  background: #113537;
  width: 1300px;
  height: 700px;
  opacity: 70%;
}

#rightSide {
  background: #37505C;
  width: 1300px;
  height: 700px;
  opacity: 70%;
}

/*  specs for cirle button */
.btn-circle.btn-xl {
  width: 110px;
  height: 110px;
  padding: 14px 20px;
  border-radius: 55px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  white-space: normal !important;
  word-wrap: break-word;
  pointer-events: none;
  display: inline-block;
  opacity: 0.3;
  background-color: #FFEAD0;
  border-color: #FFEAD0;
}

.LED-light {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: center;
  top: 23px;
  left: 23px;
}



.btn-Quick-Press {
  background-color: #ff9a00 !important;

  border-color: #ff9a00 !important;
}

.btn-Short-Hold {
  background-color: #ff7400 !important;

  border-color: #ff7400 !important;
}

.btn-Medium-Hold {
  background-color: #ff4d00 !important;

  border-color: #ff4d00 !important;
}

.btn-Long-Hold {
  background-color: #ff0000 !important;

  border-color: #ff0000 !important;
}
